@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

:root {
  --highlight: #fffd01;
  --header-bg: #2c5282;
  --header-text: #eee;
  --card-bg: #a0bcde;

  --overlay-bg: #ffffc0;
  --overlay-text: #333;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background: var(--header-bg);
  color: var(--header-text);
  border-bottom: 1px solid #333;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

header h1 {
  font-size: 2rem;
  margin: 0;
}

header h1 small {
  font-size: 1.2rem;
  font-weight: normal;
}

.link {
  font-size: 16px;
  margin-right: 1.5rem;
  color: var(--header-text);
  text-decoration: none;
}

.link:hover {
  color: var(--highlight);
  font-weight: bold;
}

.episode-layout {
  display: flex;
  flex-wrap: wrap;
  max-width: 98vw;
}

.episode-box {
  position: relative;
  padding: 0.75rem;
  background: var(--card-bg);
  margin: 2px;
}

.episode-box:hover::after {
  content: attr(data-summary);
  position: absolute;
  background: var(--overlay-bg);
  color: var(--overlay-text);
  border: 1px solid #666;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  top: 1rem;
  /* left: 1rem;
  right: -2rem; */
  padding: 0.5rem;
}

.episode-box img {
  display: block;
  margin: 0 auto 0.5rem;
}

.episode-box section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.loading {
  margin-top: 30vh;
  font-size: 2rem;
  text-align: center;
}
