@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

:root {
  --highlight: #fffd01;
  --header-bg: #2c5282;
  --header-text: #eee;
  --card-bg: #a0bcde;

  --btn-color: #2c5282;
  --btn-text: #fff;
  --btn-hover: #2c52d2;
  --btn-focus: #1f3a5b;

  --overlay-bg: #ffffd8;
  --overlay-text: #333;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

footer {
  font-size: 14px;
  padding: 0.5em;
  margin-top: 1em;
  background: #eee;
  border-top: 1px solid #777;
  color: #606060
}

footer a {
  color: #222;
}

footer a:hover {
  color: #000;
  font-weight: bold;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--btn-color);
  color: var(--btn-text);
  font-family: inherit;
  padding: 0.5em 1em;
  min-width: 10ch;
  /* min-height: 44px; */
  text-align: center;
  line-height: 1.1;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transition: 220ms all ease-in-out;
}

.btn:hover, .btn:active {
  background-color: var(--btn-hover);
}

.btn:focus {
  outline-style: solid;
  outline-color: transparent;
  box-shadow: 0 0 0 4px var(--btn-focus);
}

header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background: var(--header-bg);
  color: var(--header-text);
  border-bottom: 1px solid #333;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  z-index: 3;
}

header h1 {
  font-size: 2rem;
  margin: 0;
}

header h1 small {
  font-size: 1.2rem;
  font-weight: normal;
}

.link {
  font-size: 16px;
  margin-right: 1.5rem;
  color: var(--header-text);
}

.link:hover {
  color: var(--highlight);
  font-weight: bold;
}

.episode-layout {
  margin-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  max-width: 95vw;
}

.episode-box {
  position: relative;
  padding: 0.75rem;
  background: var(--card-bg);
  margin: 2px;
  width: 300px;
}

.episode-box:hover::after {
  content: attr(data-summary);
  position: absolute;
  background: var(--overlay-bg);
  color: var(--overlay-text);
  border: 1px solid #664;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  top: 1.5rem;
  left: 1rem;
  width: 320px;
  padding: 0.6em;
  white-space: pre-line;
  z-index: 2;
  pointer-events: none;
}

.episode-box img {
  display: block;
  margin: 0 auto 0.5rem;
  cursor: pointer;
}

.episode-box section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}


.loading {
  margin-top: 30vh;
  font-size: 2rem;
  text-align: center;
}
