@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

:root {
  --header-bg: #2c5282;
  --header-text: #fff;
  --card-bg: #a0bcde;
  --highlight: #fffd01;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background: var(--header-bg);
  color: var(--header-text);
  border-bottom: 1px solid #333;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
}

header h1 {
  margin: 0;
}

header h1 small {
  font-size: 1.2rem;
  font-weight: normal;
}

.link {
  font-size: 16px;
  margin-right: 1.5rem;
  color: var(--header-text);
  text-decoration: none;
}

.link:hover {
  color: var(--highlight);
  font-weight: bold;
}

.episode-layout {
  display: flex;
  flex-wrap: wrap;
  max-width: 98vw;
}

.episode-box {
  padding: 0.5rem;
  width: 260px;
  background: var(--card-bg);
  margin: 2px;
}

.episode-box img {
  display: block;
  margin: 0 auto 0.5rem;;
}

.episode-box section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.loading {
  margin-top: 30vh;
  font-size: 2rem;
  text-align: center;
}
